@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        -webkit-text-size-adjust: 100%;
    }

    html,
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    /* Required for Svelte 5 root rendering */
    body > div {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
